@model ProjectPresents.Data.Present

@{
    ViewData["Title"] = "Delete";
}

<style>
    body 
    {
        background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,107,110,1) 100%);
        font-family: 'Comic Sans MS';
    }
    .presentText 
    {
        font-size: 24px;
        margin-top: 35px;
        margin-left: 35px;
        width: 400px;
    }

    .everything
    {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    #image 
    {
        margin-left: 200px;
        border-radius: 8px;
        box-shadow: 3px 3px 3px 1px;
        width: 400px;
        height: 400px;
        color: black;
    }

    .buttonBack 
    {
        width: 200px;
        height: 85px;
        border-radius: 8px;
        background-color: lightskyblue;
        transition: all 0.2s ease-out;
    }
    .buttonBack:hover 
    {
        background-color: deepskyblue;
        color: white;
        transition: all 0.2s ease-out;
    }

    .buttonDel 
    {
        width: 200px;
        height: 85px;
        border-radius: 8px;
        background-color: red;
        transition: all 0.2s ease-out;
        font-size: 20px;
    }
    .buttonDel:hover 
    {
        transition: all 0.2s ease-out;
        color: white;
        background-color: #CE0000;
    }
</style>

<br>
<h1 style="text-align: center">Премахване на подарък</h1>
<h4 style="text-align: center">Сигурни ли сте, че искате да премахнете този подарък?</h4>
<br>

<div class="everything">
    <div>
        <img id="image" src="@Html.DisplayFor(model => model.Image)" />
    </div>
    <div class="presentText">
        <b>Име: </b>@Html.DisplayFor(model => model.Name)
        <br>
        <b>Каталожен номер: </b>@Html.DisplayFor(model => model.CatalogNum)
        <br>
        <b>Категория: </b>@Html.DisplayFor(model => model.Categories.Name)
        <br>
        <b>Приложение: </b>@Html.DisplayFor(model => model.Aplieds.Name)
        <br>
        <b>Описание: </b>@Html.DisplayFor(model => model.Description)
        <br>
        <b>Цена: </b>@Html.DisplayFor(model => model.Price) лв.
        <br>
        <b>Дата: </b>@Html.DisplayFor(model => model.DateUpdate)
    </div>
</div>
<br>
<br>
<div style="display: flex; flex-direction: row; justify-content: space-evenly; ">
    <div>
        <a asp-action="Index"><input type="button" value="Предишна страница" class="buttonBack" /></a>
    </div>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Премахване" class="buttonDel" />
        </form>
    </div>
</div>
<br>
<br>
