@model IEnumerable<ProjectPresents.Data.Present>

@{
    ViewData["Title"] = "Index";
}

<style>

    .presents
    {
        background-color: #F96F6F;
        border-radius: 12px;
        font-size: 18px;
        font-family:'Comic Sans MS';
    }
    .presentsText
    {
        margin-left: 290px;
        width: 700px;
    }
    .buttons
    {
        float: right;
    }
    .buttonEdit
    {
        margin: 6px;
        width: 180px;
        height: 80px;
        border-radius: 8px;
        background-color: lightskyblue;
    }
    .buttonEdit:hover
    {
        background-color: deepskyblue;
        color: white;
        transition: all 0.2s ease-out;
    }
    .buttonDet {
        margin: 6px;
        width: 180px;
        height: 80px;
        border-radius: 8px;
        background-color: lightskyblue;
    }
    .buttonDet:hover
    {
        background-color: deepskyblue;
        color: white;
        transition: all 0.2s ease-out;
    }
    .buttonDel
    {
        margin: 6px;
        width: 180px;
        height: 80px;
        border-radius: 8px;
        background-color: red;
    }
    .buttonDel:hover
    {
        transition: all 0.2s ease-out;
        color: white;
        background-color: #CE0000;
    }
    #buttonCreate
    {
        width: 130px;
        height: 55px;
        border-radius: 8px;
    }
    #buttonCreate:hover
    {
        transition: all 0.2s ease-out;
        background-color: lightgray;
    }

</style>

<h1 style="text-align: center">Подаръци</h1>

    <a asp-action="Create">
        <button id="buttonCreate">Create New</button>
    </a>
<br>
<br>


@foreach (var item in Model) {
    <div class="presents">
        <tr>
            <td>
                <img style="margin: 20px; float: left; border-radius: 8px; box-shadow: 3px 3px 3px 1px" src="@Html.DisplayFor(modelItem => item.Image)" width="240" />
            </td>
            <td>
                <div class="buttons">
                        <a asp-action="Edit" asp-route-id="@item.Id">
                        <button class="buttonEdit">Edit</button>
                        </a>
                    <br>
                        <a asp-action="Details" asp-route-id="@item.Id">
                        <button class="buttonDet">Details</button>
                        </a>
                    <br>
                        <a asp-action="Delete" asp-route-id="@item.Id">
                        <button class="buttonDel">Delete</button>
                        </a>
                </div>
                <div class="presentsText">
                    <br>
                    <b style="text-align: end; font-size: 35px">@Html.DisplayFor(modelItem => item.Name)</b>
                    <br>
                    <b>Каталогов номер: </b> @Html.DisplayFor(modelItem => item.CatalogNum)
                    <br>
                    <b>Категория: </b> @Html.DisplayFor(modelItem => item.Categories.Name)
                    <br>
                    <b>Приложение: </b> @Html.DisplayFor(modelItem => item.Aplieds.Name)
                    <br>
                    <b>Описание: </b> @Html.DisplayFor(modelItem => item.Description)
                    <br>
                    <b>Цена: </b> @Html.DisplayFor(modelItem => item.Price) лв.
                    <br>
                    <b>Дата: </b> @Html.DisplayFor(modelItem => item.DateUpdate)
                </div>
            </td>
        </tr>
        <br>
        <br>
    </div>
    <br>
    <br>
}
