@model IEnumerable<ProjectPresents.Data.Order>

@{
    ViewData["Title"] = "Index";
}

<br>
<h1 style="text-align: center">Пазарска кошница</h1>

<style>
    body
    {
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(151,232,255,1) 100%);
        font-family: 'Comic Sans MS';
    }
    .presents 
    {
        background-color: #46B6E0;
        border-radius: 12px;
        font-size: 18px;
        box-shadow: 3px 3px 3px 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #image 
    {
        margin: 15px;
        border-radius: 8px;
        box-shadow: 3px 3px 3px 1px;
        width: 190px;
        height: 180px;
        color: black;
    }
    .buttonDel 
    {
        margin: 10px;
        width: 180px;
        height: 80px;
        border-radius: 8px;
        background-color: red;
        transition: all 0.2s ease-out;
    }
    .buttonDel:hover 
    {
        transition: all 0.2s ease-out;
        color: white;
        background-color: #CE0000;
    }
    .buttonEdit
    {
        margin: 10px;
        width: 180px;
        height: 80px;
        border-radius: 8px;
        background-color: lightskyblue;
        transition: all 0.2s ease-out;
    }
    .buttonEdit:hover 
    {
        transition: all 0.2s ease-out;
        color: white;
        background-color: deepskyblue;
    }
    .presentText
    {
        margin-left: 10px;
        width: 820px;
        margin-top: 80px;
        font-size: 18px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>

<br>
<br>

@foreach (var item in Model) {

    <div class="presents">
        <div>
            <img id="image" src="@Html.DisplayFor(modelItem => item.Presents.Image)" />
        </div>
        <div class="presentText">
            <div style="display: flex; flex-direction: column">
                <b>Име</b>
                @Html.DisplayFor(modelItem => item.Presents.Name)
            </div>
            <div style="display: flex; flex-direction: column">
                <b>Username</b>
                @Html.DisplayFor(modelItem => item.Clietns.UserName)
            </div>
            <div style="display: flex; flex-direction: column">
                <b>Количество</b>
                @Html.DisplayFor(modelItem => item.Quantity)
            </div>
            <div style="display: flex; flex-direction: column">
                <b>Дата</b>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </div>
            <div style="display: flex; flex-direction: column">
                <b>Обща цена</b>
                @(item.Presents.Price * item.Quantity) лв.
            </div>
        </div>
        <div style="display: flex; flex-direction: column">
            <a asp-action="Edit" asp-route-id="@item.Id">
                <button class="buttonEdit">Промени</button>
            </a>
            <a asp-action="Delete" asp-route-id="@item.Id">
                <button class="buttonDel">Премахни</button>
            </a>
        </div>
    </div>
    <br>
}
<br>
<br>
